<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login | Registration</title>
	 {% load staticfiles %}
  	<link rel="stylesheet" href="{% static 'login_app/css/style.css' %}">
</head>
<body>
	<div class="wrapper">
		<div class="main">
			<div class="login">

			<h2>Login</h2>
			<p class="lose">{{notmatch}}</p>
			<p class="lose"></p>

			<form action="login" method="post">
			{%csrf_token%}
			<p style="color: red;">{{nouser}}</p>
				Username <input type="text" name="username" required=>
				Password <input type="password" name="password">
				<input class="btn" type="submit" name="sign" value="Sign In">
			</form>
			<hr>
			</div>
			<div class="register">
			
			<h2>Register</h2>
			<p class="win">{{win}}</p>
	{% if messages %}
    	<ul class="messages">
    	{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}			
			<form action="/success" method="post">
			{%csrf_token%}
				Name: <input type="text" name="name">
				Username: <input type="text" name="username">
				Password <input type="password" name="pass">
				Confirm Password<input type="password" name="conpass">
				<input class="btn" type="submit" name="regis" value="Register">
			</form>
			<hr>
			</div>
		</div>
	</div>
</body>
</html>